# data science
numpy==1.23.4
pandas==1.4.4
scikit-learn==1.1.2
tensorflow==2.10.0
keras==2.10.0

# API
fastapi
pytz
uvicorn

# utilities
six>=1.14
joblib
memoized-property
termcolor
colorama
typing

# tests
httpx
pytest-asyncio
entrypoints
gensim
ipykernel
matplotlib
plotly==5.11.0
nltk
pickleshare
requests
scipy
seaborn
streamlit
google-cloud-core==2.3.2