# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

#tensorflow
scikit-optimize
hyperopt

# API
fastapi
pytz
uvicorn

# utilities
six>=1.14
joblib
memoized-property
termcolor
colorama
typing

# tests
httpx
pytest-asyncio
entrypoints
gensim
ipykernel
matplotlib
plotly==5.11.0
nltk
pickleshare
requests
scipy
seaborn
streamlit
google-cloud-core >= 1.5.0